/* importando fonts  */

/* reset css */
*{
    margin: 0;
    padding: 0;
}

/* global variables */
:root { 

    /* cores  */
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;

    /* fontes  */
    --fonte-principal: 'Inter', sans-serif;
}

/* corpo da página  */
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 1.8rem;
}

.container__imagem {

    margin: 1rem 0 2rem 0;
}
.container__botao {

    background-color: var(--botao-azul);
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 1.5rem;

}

.botao__secundario { 

    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso { 

    font-size: 1rem;
    color: var(--cinza-secundario);

}